p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}

.card {
  max-width: 345px;
  margin: 0 0 16px 0;
}

.card-picked {
  border-width: 2;
  border-color: blueviolet;
  border-radius: 8;
}

.media {
  height: 140;
  width: 285;
}

.icon-label {
  display: flex;
  flex-direction: row;
  padding-right: 32px;
}

.MuiSvgIcon-root {
  margin-right: 8px;
}

.icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-duration-container {
  display: flex;
  flex-direction: row;
}

.icon-expand {
  justify-self: end;
}
.description-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Roboto";
}

.description-container,
p {
  margin-top: 0;
}

.card-image {
  width: 345px;
  height: 200px;
}
