.app {
  width: 650px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #E6EEF0;
  padding: 16px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 9px 0 #375c821c;
  font-family: 'Roboto';
}

.logo {
  transform: rotate(180deg);
  margin: -16px;
}

input {
  border-width: 0px;
  border-radius: 8px;
  padding: 3px 5px;
  box-shadow: 0 4px 4px 0 #375c821c;
  width: 600px;
  height: 36px;
  background-color: #E8E8E8;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 4px;
}

.date-picker {
  margin-top: 16px;
}

.button {
  background-color: #A9BF02;
  /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  height: 36px;
  box-shadow: 0 4px 4px 0 #375c821c;
}

.highlight {
  color: #A9BF02;
}